@import url(globalStyle.css);

:root {
  --mainColor: #1a3d97;
  --bgColor: #f4f3f2;
  --white: #fff;
  --mainText: #000;
  --subText: #888;
}

@font-face {
  font-family: "roboto";
  src: url(fonts/Roboto/Roboto.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "roboto";
  font-weight: 400;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: var(--bgColor);
}

.buttons {
  background-color: var(--mainColor);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  min-height: 40px;
  text-transform: uppercase;
  border: none;
}

.buttons:hover {
  cursor: pointer;
}

nav {
  width: 100%;
  background-color: var(--white);
  position: sticky;
  top: -20px;
}

.navbar {
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  gap: 50px;
  align-items: center;
}

.menubarUl {
  display: flex;
  gap: 1.1rem;
  text-transform: uppercase;

  a {
    font-size: 13px;
    color: var(--mainText);
    font-weight: 500;
  }

  a:hover {
    color: var(--mainColor);
  }
}
.burgurLine {
  display: none;
  img {
    width: 30px;
  }
}

.phoneHolderSec {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  align-items: center;

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.3rem;
  }
}

/* Header */

header {
  width: 100%;
  padding: 1rem 1rem 0;
  background-image: url(images/w-lawyer-pic-bg-opt.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sliderSec {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 1rem;
  align-items: center;
}

.sliderContentDiv {
  /* background-color: lightgray; */
  display: grid;
  grid-template-rows: 3fr 2fr;
  gap: 2rem;
  align-items: end;
}

.sliderTitleDiv {
  h1 {
    color: var(--mainColor);
    font-size: 5rem;
    font-weight: bold;
  }

  form {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(2, 1fr) auto; */
    gap: 1rem;
  }

  input {
    padding: 0.7rem;
    border: 2px solid #ddd;
  }
}

.stateDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.subStateDiv {
  color: var(--mainColor);
  h1 {
    font-size: 3.5rem;
    line-height: 6rem;
  }
}

.sliderImgDiv {
  img {
    max-width: 100%;
  }
}

/* ================= MAIN PART =======================*/
main {
  max-width: 1200px;
  margin: 100px auto;
  padding: 1rem;
  text-align: center;
}
/* direction */
.boxHolder {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
}

.box {
  width: 100%;
  height: 200px;
  padding: 1.5rem;
  text-align: left;
  background-color: var(--white);
  transition: all 300ms ease-in-out;
  h3 {
    color: var(--mainColor);
  }
  h4 {
    color: var(--mainText);
  }
  p {
    color: var(--subText);
  }
}

.box:hover {
  background-color: var(--mainColor);
}
.box:hover > * {
  color: var(--white);
}
/* serevices */
.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;

  .serviceContent {
    text-align: left;
    line-height: 2rem;
  }

  .tableOfServices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0 2rem;

    ul {
      font-size: 20px;
      font-weight: bold;
    }

    li {
      font-size: 1rem;
      font-weight: 400;
      color: var(--subText);
    }

    img {
      width: 1rem;
    }
  }

  .servicePic {
    text-align: right;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

/* clients */

.clients {
  margin-top: 100px;
}

.tileHolder {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 300px));
  justify-content: space-between;
}
/* ================= MAIN PART =======================*/

/* ================= BLUE PART =======================*/
#bluePart {
  width: 100%;
  background-color: var(--mainColor);
  color: var(--white);
  padding: 100px 1rem;
}

.blueContainer {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.leftBlue {
  h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }

  p {
    color: #ddd;
    line-height: 1.5rem;
    margin: 2rem 0;
  }

  .companyHolder {
    display: flex;
    justify-content: space-between;
  }
}

.rightBlue {
  display: grid;
  grid-row: repeat(3, 1fr);
}

.threePart {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  margin: 30px 100px;
  line-height: 1.5rem;

  h3 {
    font-weight: bold;
  }
  p {
    color: #ddd;
  }
}

/* ================= BLUE PART =======================*/

/* ================= Media 1200 =======================*/

@media screen and (max-width: 1200px) {
  .sliderTitleDiv h1 {
    font-size: 42px;
  }

  .leftBlue h1 {
    font-size: 42px;
  }
}

/* ================= Media 1000 =======================*/

@media screen and (max-width: 1000px) {
  nav {
    .navbar {
      grid-template-columns: auto;
    }

    .burgurLine {
      display: block;
      position: absolute;
      top: 40px;
      right: 1rem;
    }

    .menubarUl,
    .phoneHolderSec {
      display: none;
    }

    .menubarUl {
      gap: 0;
      a {
        padding: 1rem;
        display: block;
      }

      a:hover {
        background-color: var(--mainColor);
        color: white;
      }
    }

    .opened {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100px;
      right: 0;
      /* padding: 2rem; */
      background-color: #fff;
      border: 2px solid #ddd;
    }    
  }
  .sliderContentDiv {
      grid-template-rows: 2fr;
      .stateDiv {
        display: none;
      }
    }
}

/* ================= Media 768 =======================*/
@media screen and (max-width: 768px) {
  .sliderSec {
    grid-template-columns: 1fr;
  }

  .services {
    grid-template-columns: 1fr;
    .servicePic {
      grid-row: 1/2;
    }
  }

  .clients {
    .tileHolder {
      display: flex;
      overflow-x: auto;
    }
    .tile {
      flex: 0 0 auto;
      width: 100%;
    }
  }

  .blueContainer {
    grid-template-columns: 1fr;
  }

  .companyHolder {
    overflow-x: auto;
    gap: 1rem;
    img {
      flex: 0 0 auto;
      width: 30%;
    }
  }

  .threePart {
    margin: 30px 0;
  }
}
